a,
a:hover {
  color: #fff;
}

/* css for react router NavLink */
.active {
  font-weight: bold;
}

/* hidden selector */
.hidden {
  display: none !important;
}

.main-container {
  background-color: #141414;
  color: #fff;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
.nav-menu {
  width: 100%;
}
.main-nav {
  width: 100%;
}
.user-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.user-icon {
  font-size: 1.5rem;
}

.brand-logo {
  max-width: 120px;
}
.main-container a {
  /* color: #fff; */
  text-decoration: none;
  padding: 0 10px 0 0;
}
.navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Search component */
.search-container {
  position: relative;
}
.search-container-active {
  border: 1px solid #fff;
  padding: 5px;
}
.search-input {
  position: relative;
  background-color: #141414;
  color: #fff;
  padding-left: 40px;
  width: 1px;
  border: none;
  transition-duration: 1s;
}
.search-input-active {
  width: 250px;
}

.search-input-button {
  position: absolute;
  left: 10px;
  background: none;
  border: none;
}
.search-input-button-icon {
  color: #fff;
}
/* notification */
.notification-container {
  position: relative;
}
.notification-alert {
  position: absolute;
  right: -0.2rem;
  top: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 50%;
  width: 1rem;
  font-size: 0.7rem;
}

.alert-button {
  cursor: pointer;
}
.alerts-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 3rem;
  width: 300px;
  border: 1px solid #fff;
  z-index: 10;
  background-color: #141414d3;
  height: 400px;
  overflow-y: scroll;
}

.notification {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #fff;
  padding: 0;
}
.notification-thumb {
  max-width: 100px;
}
.notification-desc {
  padding-left: 0.5rem;
}
.notification-title,
.notification-text {
  margin-bottom: 5px;
}
/* Hero */
.hero {
  position: relative;
  margin: 0;
  padding: 0;
}
.hero img {
  width: 100vw;
  height: 80vh;
  object-fit: cover;
}
.hero-title {
  font-size: 3.5rem;
  padding: 1rem;
}
.hero-desc-and-btns {
  position: absolute;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100vw;
  bottom: 0;
}
.hero-btns {
  padding-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}
.hero-overview {
  margin: 0;
  padding-bottom: 1rem;
}
.genres-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.genres {
  position: relative;
  animation-duration: 200ms;
}
.genres-hidden {
  visibility: hidden;
}
.genres-buttons {
  position: absolute;
  left: 9%;
  z-index: 100;
  background-color: #282c34;
  border: 1px solid #fff;
}
.choose-genre-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #fff;
  padding: 5px 10px;
  cursor: pointer;
}
.genre-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}
.genre-button:hover {
  font-weight: 500;
  text-decoration: underline;
}
.main-movies-content {
  margin: 1rem;
}
.movies-row-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.movies-row-title:hover .see-all-category-button {
  opacity: 1;
  transition-duration: 400ms;
}
.movies-row-title:hover
  .see-all-category-button
  .see-all-category-button-arrows {
  opacity: 1;
  transform: translateX(0px);
  transition-duration: 400ms;
}
.see-all-category-button {
  color: aqua;
  opacity: 0;
  font-weight: 500;
}
.see-all-category-button:hover {
  color: rgb(0, 167, 167);
  opacity: 1;
}
.see-all-category-button-arrows {
  position: absolute;
  transform: translateX(-50px);
  transition-duration: 400ms;
}

/* Movie Card */
/* .movie-card-container {
  position: relative;
  width: 18rem;
  background-color: #282c34;
  animation-duration: 0.5s;
  z-index: 0;
}

.movie-card-container:hover {
  position: absolute;
  width: 24rem;
  cursor: pointer;
  z-index: 1;
  transition-duration: 250ms;
}

.movie-card-container:hover .movie-card-title {
  position: relative;
}
.movie-card-container:hover .movie-card-icons {
  position: relative;
  visibility: visible;
}
.movie-card-title {
  position: absolute;
  top: 10px;
  transition-duration: 500ms;
}

.movie-card-icons {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  visibility: hidden;
}

.movie-card-icon {
  margin: 0 5px;
  font-size: 2rem;
}

.movie-card-icon:last-child {
  justify-self: flex-end;
} */
.movie-card-container {
  position: relative;
  width: 100%;
}
.movie-card {
  position: relative;
  width: 100%;
  cursor: pointer;
  background-color: #141414;
}
.movie-card:hover {
  position: absolute;
  max-width: 400px;
  z-index: 100;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 13px 27px -5px,
    rgba(255, 255, 255, 0.3) 0px 8px 16px -8px;
}
.movie-card-image > img {
  width: 100%;
}
.movie-card-title {
  position: absolute;
  top: 0.3rem;
  left: 0.5rem;
  font-weight: 500;
}

/* Footer */
.footer {
  padding: 50px 0;
}
.movie-card-icons {
}

.footer-logos {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.footer-logos > img {
  max-width: 200px;
}
