.main-container {
  background-color: #141414;
  color: #fff;

  min-height: 750px;
}

.brand-logo {
  max-width: 200px;
}
.navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.user-header-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
