a,
a:hover {
  color: #fff;
}

/* css for react router NavLink */
.active {
  font-weight: bold;
}

/* hidden selector */
.hidden {
  display: none !important;
}

.app-container {
  background-color: #141414;
  color: #fff;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
.nav-menu {
  width: 100%;
}
.nav-item {
  text-decoration: none;
  padding: 0 0.5rem 0 0;
}
.main-nav {
  width: 100%;
}
.user-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.user-icon {
  font-size: 1.5rem;
}

.brand-logo {
  max-width: 120px;
}
.main-container a {
  /* color: #fff; */
  text-decoration: none;
  padding: 0 10px 0 0;
}
.navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Search component */
.search-container {
  position: relative;
}
.search-container-active {
  border: 1px solid #fff;
  padding: 5px;
}
.search-input {
  position: relative;
  background-color: #141414;
  color: #fff;
  padding-left: 40px;
  width: 1px;
  border: none;
  transition-duration: 1s;
}
.search-input-active {
  width: 250px;
}

.search-input-button {
  position: absolute;
  left: 10px;
  background: none;
  border: none;
}
.search-input-button-icon {
  color: #fff;
}
/* notification */
.notification-container {
  position: relative;
}
.notification-alert {
  position: absolute;
  right: -0.2rem;
  top: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 50%;
  width: 1rem;
  font-size: 0.7rem;
}

.alert-button {
  cursor: pointer;
}
.alerts-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 3rem;
  width: 300px;
  border: 1px solid #fff;
  z-index: 10;
  background-color: #141414d3;
  height: 400px;
  overflow-y: scroll;
}

.notification {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #fff;
  padding: 0;
}
.notification-thumb {
  max-width: 100px;
}
.notification-desc {
  padding-left: 0.5rem;
}
.notification-title,
.notification-text {
  margin-bottom: 5px;
}
/* Hero */
.hero {
  position: relative;
  margin: 0;
  padding: 0;
}
.hero img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}
.hero-title {
  font-size: 3.5rem;
  padding: 1rem;
}
.hero-desc-and-btns {
  position: absolute;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100vw;
  bottom: 0;
}
.hero-btns {
  padding-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}
.hero-overview {
  margin: 0;
  padding-bottom: 1rem;
}
.genres-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.genres {
  position: relative;
  animation-duration: 200ms;
}
.genres-hidden {
  visibility: hidden;
}
.genres-buttons {
  position: absolute;
  left: 9%;
  z-index: 100;
  background-color: #282c34;
  border: 1px solid #fff;
}
.choose-genre-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #fff;
  padding: 5px 10px;
  cursor: pointer;
}
.genre-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}
.genre-button:hover {
  font-weight: 500;
  text-decoration: underline;
}
.main-movies-content {
  margin: 1rem;
}
.movies-row-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.movies-row-title:hover .see-all-category-button {
  opacity: 1;
  transition-duration: 400ms;
}
.movies-row-title:hover
  .see-all-category-button
  .see-all-category-button-arrows {
  opacity: 1;
  transform: translateX(0px);
  transition-duration: 400ms;
}
.see-all-category-button {
  color: aqua;
  opacity: 0;
  font-weight: 500;
}
.see-all-category-button:hover {
  color: rgb(0, 167, 167);
  opacity: 1;
}
.see-all-category-button-arrows {
  position: absolute;
  transform: translateX(-50px);
  transition-duration: 400ms;
}
/* Swiper */
.row-swiper {
  overflow: visible !important ;
}
.swiper-slide {
  z-index: 10 !important;
}
.swiper-slide:hover {
  position: relative;
  z-index: 20 !important;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  background-color: rgba(0, 0, 0, 0.75);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px;
}

/* Movie Card */
.movie-card-container {
  position: relative;
  width: 100%;
  height: auto;
  cursor: pointer;
  transition: 0.35s all;
  z-index: 10;
  overflow: hidden;
  border-radius: 0.25rem;
}
.movie-card-container:hover {
  transform: scale(1.5);
  z-index: 20;
  -webkit-box-shadow: 0px 0px 14px -2px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 14px -2px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 14px -2px rgba(0, 0, 0, 1);
}

.movie-card-image {
  width: 100%;
}
.movie-card-info {
  display: flex;
  background-color: #141414;
}

.movie-card-title {
  position: absolute;
  top: 0.75rem;
  left: 1rem;
  font-weight: 500;
}
.movie-card-buttons {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
/* .movie-card-container:hover .movie-card-buttons {
  display: flex;
} */
.movie-card-buttons-left {
  display: inherit;
  gap: 10px;
}
.movie-card-button {
  font-size: 1.75rem;
}
.movie-card-desc {
  display: flex;

  transition: 0.2s all;
}

/* Footer */
.footer {
  padding: 50px 0;
}

.footer-logos {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.footer-logos > img {
  max-width: 200px;
}
